apiVersion: v1
kind: Service
metadata:
  name: gif-transformer
  labels:
    app: gif-transformer
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: gif-transformer
